body {
  background: #7bd5f8;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #0f046e83;
  font-weight: 800;
  font-size: 50px;
  font-family: "Cairo", sans-serif;
}

#addBtn {
  border: none;
  padding: 0;
  border-radius: 5px;
  color: #a6ff8383;
  background-color: #086972;
  width: 90px;
  height: 35px;
}

#addBtn:hover {
  background-color: #17b978;
  color: #fffcca;
}

input {
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  min-width: 65%;
  padding: 10px;
  border: none;
}

ul {
  text-align: left;
  margin-top: 20px;
  margin-left: 17%;
  margin-right: 20%;
  padding-left: 0px;
}

li {
  list-style: none;
  padding: 10px 20px;
  color: #086972;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #086972;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #52d681;
}

li:hover {
  background: #b5ff7d;
}

/* Edit Task */
ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: block;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 90%;
  outline: none;
}

ul li.editMode label {
  display: none;
}

.editButton,
.removeButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 0.7rem;
}

.editButton:hover,
.removeButton:hover {
  opacity: 0.8;
  animation: bounce 1s;
}

img {
  max-width: 1.3rem;
  max-height: 1.3rem;
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
